<table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of headersTable">{{ header }}</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{ saldo }}</td>
      <td>{{ estado }}</td>
    </tr>
  </tbody>
</table>

<app-button [optBtn]="opcionesBtnAumentar" (click)="aumentarSaldo()"></app-button>
<app-button [optBtn]="opcionesBtnDisminuir" (click)="disminuirSaldo()"></app-button>
<app-button [optBtn]="opcionesBtnEstado" (click)="cambiarEstado()"></app-button>


<!-- shift + alt + flecha hacia abajo -->

<!-- control + p -->